.DS_Store

application/cache/*
!application/cache/empty

application/logs/*
!application/logs/empty

# image banner
/public/images/banner/*
!/public/images/banner/image.jpg

# image latest-news
/public/images/latest-news/*
!/public/images/ourTeam/image.jpg


# image ourTeam
/public/images/ourTeam/*
!/public/images/ourTeam/image.jpg

# image porfolio
/public/images/porfolio/*
!/public/images/ourTeam/image.jpg

# image porfolio
/public/images/partners/*
!/public/images/partners/image.jpg
!public/images/tmp/empty

# image temp (file temp)
/public/images/tmp/*
!/public/images/tmp/empty



# ide
nbproject/*


# captcha
/public/images/captcha/*
!/public/images/captcha/empty


# gallery portfolio
/public/ci_image_upload/upload/*
!/public/ci_image_upload/upload/empty.txt


