.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# imagenes banner
/public/images/banner/*
!/public/images/banner/t/*
!/public/images/banner/1.jpg

# image latest-news
/public/images/latest-news/*
!/public/images/latest-news/1.jpg
!/public/images/latest-news/att.jpg


# ide
nbproject/*